<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <a class="navbar-brand" href="/"></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <!-- TODO: For 'Home', Add a <a> tag with class="nav-link" and href='/' API that navigates to home page if logged in, or login page if not -->
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/login"></a>
        </li>
        <li class="nav-item">
          <!-- TODO: For 'Friends', Add a <a> tag with class="nav-link" and href='/friends' API that navigates to friends page if logged in, or login page if not -->
          <a class="nav-link" href="/friends">Friends</a>
          <a class="nav-link" href="/login"></a>
        </li>
        <li class="nav-item">
            <!-- -->
            <a class="nav-link" href="/saved">Saved</a>
            <a class="nav-link" href="/login"></a>
        </li>
        <li class="nav-item">
            <!-- -->
            <a class="nav-link" href="/createRecipe">Create Recipe</a>
            <a class="nav-link" href="/login"></a>
        </li>
      </ul>

      <!-- Add icon to the extreme right -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="/search">
                <img src="../../resources/img/search.webp" alt="Icon" style="width: 30px; height: 30px;">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                {{ profilePic }}
            </a>
        </li>
      </ul>
    </div>
  </nav>
</header>