<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Left side: Brand and Home -->
      <a class="navbar-brand" href="/">
        <img src="src/resources/img/ByteBLogo.PNG" alt="ByteBoard Logo" style="width: 100px; height: 50px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Main navigation links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          {{#if loggedIn}}
            <li class="nav-item">
              <a class="nav-link" href="/friends">Friends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/saved">Saved</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/createRecipe">Create Recipe</a>
            </li>
          {{/if}}
        </ul>

        <!-- Right side: Search and Profile -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/search">
              <img src="src/resources/img/search.webp" alt="Search Icon" style="width: 30px; height: 30px;">
            </a>
          </li>
          <li class="nav-item dropdown">
            {{#if loggedIn}}
              <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img 
                  src="{{profilePic}}" 
                  alt="Profile Picture" 
                  class="rounded-circle" 
                  style="width: 30px; height: 30px;"
                >
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                <li><a class="dropdown-item" href="/profile">View Profile</a></li>
                <li><a class="dropdown-item" href="/createProfile">Edit Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            {{else}}
              <a class="nav-link" href="/login">Login</a>
            {{/if}}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>