 <h1 class="text-center">Search</h1> 
<!--<div classs="topnav">
    <style>
        input {
            text-align:center;
        }
        button {
            text-align:center;
        }

    </style>
    <form action="">
        <input type="text" placeholder="Search a recipe">
        <button type="submit"></button>
    </form>
</div> -->